$primary-color:#f35b04;
$border-color: #f35b04;
$second-color: #3d348b;
$heding-color: #011627;
$footer-color: #080713;
$grey-color: #f4f4f4;
$white-color: #ffffff;
$black-color :#000000;
$font-color: #525252;
$primary-dark: #161723;
$bg-lightgrey: #f8f9fa;
$footer-color: #080713;
$border-color-light: #ddd;