footer.p-100
  .container
    .items.d-flex
      .medium.item
        .heading
          | DigitalEdu
        .content
          | Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet Semper at elit.
        .list-icon
          i.fab.fa-facebook-f
          i.fab.fa-twitter
          i.fab.fa-instagram
          i.fab.fa-linkedin-in
      .small.item
        .heading
          | Meta
        .content
          ul
            li
              a(href='#') Log in
            li
              a(href='#') Entries feed
            li
              a(href='#') Comments feed
            li
              a(href='#') WordPress.org
      .small.item
        .heading
          | Category
        .content
          ul
            li
              a.edu Education
            li
              a.learn Learning
            li
              a.onlEdu Online education
      .medium.item
        .heading
          | Contact Info
        .content
          ul
            li Address : DigitalEdu, 343 Honey Avenue street, NY - 62617.
            li
              | Phone :
              a(href='phone')  +12 23456799
            li
              | Email :
              a(href='mail')  info@example.com
a.backToTop(href='#')
  i.fas.fa-angle-up
