header
  .container
    .main-header.d-flex.a-center
      h1.logo
        | Digital
        span.hat E
        | du

      .right.d-flex.j-between.a-center
        .search.d-flex.a-center
          input(type='text' placeholder='Search...')
          i.fas.fa-search
        nav.header-nav.d-flex.a-center
          ul.d-flex
            block nav

      .tool.d-flex.a-center
        .dark-mode
          i.far.fa-moon
        .nav-bar 
          <i class="fas fa-bars"></i>
